div.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 0;
}
img.background {
    grid-column: 1/1;
    grid-row: 1/1;
}
div.second-item {
    grid-column: 2/2;
    grid-row: 1/1;
    background-color: #b9b8b9;
}
p {
    color: #000000;
    grid-column: 1/1;
    grid-row:1/1;
    font-size: 250px;
    letter-spacing: 5px;
    font-family: serif;
    font-weight: bold;
    z-index: 1;
    position:absolute;
    top: 1px;
}
div.img-label {
    grid-column: 2/2;
    grid-row: 1/1;
    letter-spacing: 15px;
    color: #9c1013;
    z-index: 1;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    left: 60%;
    bottom: 45px;
}